:root {
  --color-1: #313866;
  --color-1-faded: #909ad6;
  --color-2: #504099;
  --color-3: #974ec3;
  --color-4: #fe7be5;
  --color-5: #ffebfb;
}

html {
  font-family: "Space Mono", monospace;
}

body {
  background-color: var(--color-2);
}

#calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: 0.2rem solid var(--color-5);
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--color-1);
}

#display {
  border-radius: 1rem;
  color: var(--color-1);
  background-color: var(--color-5);
  align-self: stretch;
  padding: 5rem 0.5rem 0.5rem;
  font-size: 2.5rem;
  text-align: right;
}

#display.empty {
  color: var(--color-1-faded);
}

#btn-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
}

#btn-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

#btn-container > div > button {
  color: #352f44;
  background-color: var(--color-3);
  font-size: 2rem;
  padding: 1rem;
  min-width: 5rem;
  border: 0;
  border-radius: 0.5rem;
}

#btn-container > div > button.number {
  background-color: var(--color-4);
}

#btn-container > div > button:active,
#btn-container > div > button.active {
  transform: scale(0.975);
}
